/* your styles go here */

.info {
  background-color: rgba(17, 232, 141, 0.8) !important;
}

.btn-primary{
  color: color-yiq(	#11e88d);
  background-color: #11e88d;
  border-color:	#11e88d;
}

.btn-primary:hover {
  color: color-yiq(#0ebe75);
  background-color: #0ebe75;
  border-color: #0ebe75;
}

.external {
  color: #0ebe75;
}

.external:hover {
  color: #11e88d;
}

nav.navbar {
  padding-top: 12px !important;
  border-top: #11e88d 3px solid !important; 
}

nav.side-navbar ul li.active > a:hover {
  background: #11e88d;
  border-left: 4px solid #0ebe75;
}

nav.side-navbar ul li > a:hover {
  background: #11e88d;
  border-left: 4px solid #0ebe75;
}

nav.side-navbar ul li.active > a {
  background: #11e88d;
  border-left: 4px solid #0ebe75;
}

input.input-material ~ label.active {
  color: #0ebe75;
}

input.input-material:active{
  border-bottom: 1px solid #0ebe75;
}

a {
  color: #0d3768;
}

a:hover {
  color: #002856;
}