@import "compass/css3";

* {
    box-sizing: border-box;
}

body {
    background: grey;
    color: #eee;
    font: 1em 'PT Sans', sans-serif;
}

::selection {
    background-color: #ff000;
}

.tabbed {
    width: 90%;
    margin: 0 auto;
}

.tabbed > input {
    display: none;
}

.tabbed > label {
    display: block;
    float: left;
    padding: 12px 20px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color .3s;
}

.tabbed > label:hover,
.tabbed > input:checked + label {
    background: #000000;
}

.tabs {
    clear: both;
    perspective: 900px;
}

.tabs > div {
    width: 100%;
    position: absolute;
    padding: 10px 30px 40px;
    line-height: 1.4em;
    opacity: 0;
    z-index: 0;
}

#tab-nav-1:checked ~ .tabs > div:nth-of-type(1),
#tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
#tab-nav-3:checked ~ .tabs > div:nth-of-type(3),
#tab-nav-4:checked ~ .tabs > div:nth-of-type(4),
#tab-nav-5:checked ~ .tabs > div:nth-of-type(5),
#tab-nav-6:checked ~ .tabs > div:nth-of-type(6){

    opacity: 1;
    z-index: 1;
}
.admintable{
    border: 1px solid #333;
    width:100%;
}
.admin{
    border: 1px solid #333;
    width: 12.5%;
    text-align: center;
}
#newuser{
    padding-bottom:20px;
}

#Userlist{
    padding-bottom:20px;
}

#left{
    width:48%;
    float:left;
    text-align: right;
}
#right{
    width:48%;
    float:right;
    text-align: left;
}
#edit{
    padding-bottom: 20px;
}
#delete{
    
}
